<h3>Bonjour <%= @manager.firstname %></h3>
<p>Voici le récapitulatif de la commande n° <%=@order.id%><p>

<table>
  <thead>
    <tr>
      <th>Produits</th>
      <th>Conditionnement</th>
      <th>Poids</th>
      <th>Quantité</th>
      <th>Prix unitaire</th>
      <th>Prix total</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <% if item.quantity > 0 %>
        <div>
          <tr>
            <td><%= t(".#{item.product.name}") %></td>
            <td><%= t(".#{item.product.package}") %></td>
            <td><%= item.product.weight %></td>
            <td><%= item.quantity %></td>
            <td><%= item.product.euro %></td>
            <td>
              <%= item.product.price = (item.product.price*item.quantity)
              item.product.euro %>
            </td>
          </tr>
        </div>
      <% end %>
    <% end %>
    <td>Total de la commande: <%= @order.total %></td>
  </tbody>
</table>

<p>En cas de problème, contactez: <a href="mailto:<%=@consumer.email%>"><%=@consumer.email%></a></p>