<% if current_authentication.admin? %>
  <h1>Editer un événement</h1>
  <%= form_for Event.to_s, method: :patch do |f| %>

    <div class="field">
      <%= label_tag "nom de l'événement" %><br />
      <%= text_field_tag :name, nil, value: "#{@event.name}" %>
    </div>

     <div class="field">
      <%= label_tag "Date de lancement" %><br />
      <%= f.date_field :open, value: "#{@event.open}" %>
    </div>

     <div class="field">
      <%= label_tag "Date de fin" %><br />
      <%= f.date_field :close, value: "#{@event.close}" %>
    </div>

    <div class="field">
      <%= label_tag "Date de livraison" %><br />
      <%= f.date_field :delivery, value: "#{@event.delivery}" %>
    </div>

    <%= submit_tag 'Editer', id: 'btns', class: 'mt-3 mb-3' %>
  <% end %>
<% else %>
  <p>Accès refusé</p>
<% end %>

<%= link_to "Retour", admin_dashboard_path, id: 'btns' %>