<h1>Liste des événements</h1>

<ul>
<% @events.each do |event| %>
  <li>Nom: <%= event.name %></li>
  <li>Départ: <%= event.open %></li>
  <li>Fermeture: <%= event.close %></li>
  <li>Livraison: <%= event.delivery %></li>
  <div class="mt-3">
  <%= link_to image_tag('edit.png', class:'icons', title: "Editer l'évènement'"), "events_edit/#{event.id}" %>
  <%= link_to image_tag('delete.png', class:'icons', title: "Supprimer l'évènement'"), "events_delete/#{event.id}", method: :delete, data: {confirm: 'Etes vous sûr ?'} %>
  </div>
  <hr>
<% end %>
</ul>


<%= link_to "Ajouter un évènement", admin_events_new_path, id: 'btns' %>
