<% if current_authentication.admin? %>
  <h2>Liste des emails whitelisté</h2>
  <strong>(utilisables par les membres pour s'inscrire)</strong>
  <br>
  <% @whitelist.each do |wl| %><br>
    <%= wl.email %>
  <% end %>
  <hr>
  <%= form_for Whitelist.to_s, method: :post do |f| %>
    <div class="field">
      <%= f.label 'Créer un nouvel email whitlisté' %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    <%= image_submit_tag("add.png", class: 'icons' )%>
  <% end %>
<% else %>
  <h2>Accès refusé</h2>
<% end %>
<hr>
