<div class="container text-center">
  <h1>Editer un produit</h1>
  <%= form_for 'dashboard#update_product', method: :patch do %>

    <div class="field">
      <%= label_tag :nom_de_produit %><br />
      <%= text_field_tag :name, nil, value: t("product.#{@product.name}") %>
    </div>

    <div class="field">
      <%= label_tag :Conditionement %><br />
      <%= text_field_tag :package, nil, value: t("package.#{@product.package}") %>
    </div>

    <div class="field">
      <%= label_tag :Prix %><br />
      <%= text_field_tag :price, nil, value: @product.price  %>
    </div>

    <div class="field">
      <%= label_tag :Poids %><br />
      <%= text_field_tag :weight_value, nil, value: @product.weight_value %>
    </div>

    <div class="field">
      <%= label_tag :Type_de_poids %><br />
      <%= text_field_tag :weight_type, nil, value: @product.weight_type %>
    </div>

  <%= submit_tag 'edit', id: 'btns', class: 'mt-3 mb-3' %>
  <% end %>

  <%= link_to "Back", admin_index_produits_path, id: 'btns' %>
</div>