<div class="container text-center">
  <%= form_for @authentication, method: :patch do |f| %>
    <div class="field">
      <%= f.label :groupment %><br />
      <%= collection_select(Groupment, :groupment_id, Groupment.all, :id, :name, prompt: "aucun") %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  
    <div class="field">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <%= f.submit "edit" %>
  <% end %>
</div>
