<div class="container text-center mt-3">
  <% if current_authentication.admin? %>
    <h4>Liste des membres</h4>
      <table class="mx-auto">
        <tr>
          <th>Prénom</th>
          <th>Nom</th>
          <th>Email</th>
          <th>Role</th>
          <th>Groupment</th>
        </tr>

        <% @authentications.each do |auth| %>
          <tr>
            <td><%= auth.firstname %></td>
            <td><%= auth.lastname %></td>
            <td><%= auth.email %></td>
            <td><%= auth.userable_type %></td>
            <td><% which_groupment @groupment %><%= @groupment.groupment.name %>(<%= @groupment.groupment.postal_code %>)</td>
            <td><%= link_to 'Editer', "edit/#{auth.id}" %></td>
            <td><%= link_to 'Afficher', admin_path(auth) %></td>
            <td><%= link_to 'Supprimer', authentication_path(auth), method: :delete, data: {confirm: 'Are you sure ?'} %></td>
            <td><%= link_to 'Promouvoir'  %></td>
          </tr>
        <% end %>
      </table>
  <% else %>
      <h2>Accès refusé</h2>
  <% end %>
</div>