<div class="container text-center mt-3">
  <% if current_authentication.admin? %>
    <h4>Profil de <%= @authentication.fullname %> (<%= @authentication.userable_type %>)</h4>
    <p>Email de contact: 
      <a href="mailto:<%= @authentication.email %>">
        <%= @authentication.email %>
      </a>
    </p>
    <p>Commandes passées: </p>
  <% else %>
    <h2>Accès refusé</h2>
  <% end %>
<hr>
<% @orders.each do |order| %>
  <strong>Commande n°<%= order.id %> :</strong>
    <% @orderitems.each do |orderitem| %>
      <% if orderitem.quantity > 0 %>
        <p>
          <%= orderitem.quantity %>

          <%= orderitem.pluralize(t('orders.show.package')) %>

          de <%= t("products.#{orderitem.product.name}") %> 
          pour <%= render_price_to_euros(orderitem.unit_price_x_quantity) %> 
        </p>
      <% end %>
    <% end %>
    <p>Total : <%= render_price_to_euros(@order.total) %></p> 
<hr>
  <% end %>
  
</div>



