<% if current_authentication.admin? %>
<h2>Edit</h2>

<div class="row">
  <div class="col-1-of-2">
  <%= form_for @authentication, method: :patch do |f| %>
    <div class="field">
      <%= f.label :groupement %><br />
      <%= collection_select(Groupment, :groupment_id, Groupment.all, :id, :name, :selected => @groupment.id) %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: 'email' %>
    </div>

    <div class="actions mt-3">
      <%= image_submit_tag('valid.png', class: 'icons' )%>
    </div>
  <% end %>
  </div>

  <hr>

  <div class="col-1-of-2 bl-2">
    <div class="mt-3">
      <p>Rôle actuel: <strong><%= @authentication.userable_type %></strong></p>
      
      <p>Changer le rôle en :</p>
      <div class="row justify-content-center">
        <div class="mr-4">
          <%= link_to "Admin", "/upAdmin/#{@authentication.id}", id: 'btns' %>
        </div>
        <div class="mr-4">
          <%= link_to "Manager", "/upManager/#{@authentication.id}", id: 'btns' %>
        </div>
        <div class="mr-4">
          <%= link_to "Membre", "/upMember/#{@authentication.id}", id: 'btns' %>
        </div>
      </div>
    </div>
  </div>
</div>
  
  <div class='mt-3'>
    <%= link_to raw('<i class="fas fa-chevron-left"></i> Retour'), admin_liste_des_membres_path, id: 'btns' %>
  </div>  
<% else %>
  <h1>Accès refusé</h1>
<% end %>
