<%=  @authentication.firstname %>


<div class="container text-center">
  <h2>Edit</h2>

  <%= form_for @authentication, method: :patch do |f| %>
    <div class="field">
      <%= f.label :groupment %><br />
      <%= collection_select(Groupment, :groupment_id, Groupment.all, :id, :name, :selected => @groupment.id) %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  <% end %>

  <p>Rôle: <%= @authentication.userable_type%></p>
  <%= link_to "up_admin", "/upAdmin/#{@authentication.id}" %>
  <%= link_to "up_manager", "/upManager/#{@authentication.id}" %>
  <%= link_to "up_member", "/upMember/#{@authentication.id}" %>

  <%= link_to "Back", :back %>
</div>