<h1>Bienvenue sur votre profil</h1>
<ul>
  <li>Prénom : <%= current_authentication.firstname.capitalize %>
  </li>
  <li>Nom : <%= current_authentication.lastname.capitalize %>
  </li>
  <li>Email : <%= current_authentication.email %>
  </li>
  <li>
    Groupement : <%= @groupment.groupment.name %>
  </li>
  <li>
    Votre rôle est : <%= current_authentication.userable_type %>
  </li>
</ul>

<%= link_to image_tag('edit.png', class:'icons', title: "Editer vos informations"), '/authentications/edit' %>
<%= link_to image_tag('delete.png', class:'icons', title: "Supprimer votre compte"), current_authentication, method: :delete, data: {confirm: 'Etes vous sûr ?'} %>
