<%= flash[:info] %>

<%= form_tag '/orders', method: 'post' do %>
  <select name="order[consumer_id]">
    <% @consumer.each do |c| %>
      <option value="<%= c.id%>"><%= c.firstname %></option>
    <%end%>
  </select>
  <table>
    <thead>
      <tr>
        <th>Produits</th>
        <th>Conditionnement</th>
        <th>Prix</th>
        <th>Poids</th>
        <th>Quantité</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <div>
          <tr>
            <td><%= label_tag("order_product_#{product.id}", product.name)%></td>
            <td><%= product.package %></td>
            <td><%= product.euro %></td>
            <td><%= product.weight %></td>
            <td><%= number_field_tag("order[products][#{product.id}]", 0, min:0)%></td>
          </tr>
        </div>
      <%end%>
    </tbody>
  </table>
  <%= submit_tag('envoyer') %>
<%end%>

<a href="/orders">retour</a>
