<div class="container text-center mt-3">
  <h2>Commande n°<%= @order.id%> de <%= @order.consumer.firstname %> <%= @order.consumer.lastname %></h2>
  <hr>
  <% @orderitems.each do |orderitem| %>
    <% if orderitem.quantity > 0 %>
      <p>
        <%= orderitem.quantity %> 

          <%= orderitem.product.plurality?(orderitem.quantity, t(".#{orderitem.product.package}")) %>

        de <%= t(".#{orderitem.product.name}") %> 
        pour <%= (orderitem.product.price*orderitem.quantity) / 100.0 %> € 
      </p>
    <% end %>
  <% end %>

  <p>Total : <%= @order.total %></p>


</div>