<% if current_authentication.admin? %>
  <div class="mb-4">
    <h1>Chosissez un produit a éditer</h1>
  </div>  
  <table class="container text-center">
    <thead>
      <tr>
        <th>Statut</th>
        <th>Produits</th>
        <th>Conditionnement</th>
        <th>Prix</th>
        <th>Poids</th>
      </tr>
      <hr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <div>
          <tr>
            <td><%= image_tag product.available ? 'true.png' : 'false.png'%></td>
            <td><%= label_tag("order_product_#{product.id}", t("product.#{product.name}")) %></td>
            <td><%= t("package.#{product.package}") %></td>
            <td><%= product.euro %></td>
            <td><%= product.weight %></td>
            <td><%= link_to 'Editer', "edition-produits/#{product.id}", id: 'btns' %></td>
            <% if product.available %>
              <td><%= link_to "Unavailable", "/admin/unavailable/#{product.id}", id: 'btns' %></td>
            <% else %>
              <td><%= link_to "Available", "/admin/available/#{product.id}", id: 'btns' %></td>
            <% end %>
            <td><%= link_to 'Supprimer', "delete_product/#{product.id}", method: :delete, data: {confirm: 'Are you sure ?'}, id: 'btns' %></td>
          </tr>
        </div>
      <% end %>
    </tbody>
  </table>
  <div class="d-flex wrap align-items-center">
    <div class="w-50 d-flex flex-row-start">
      <%= link_to 'Retour', admin_dashboard_path, id: 'btns' %>
    </div>
  </div>
<hr>
<% else %>
  <p>Accès refusé</p>
<% end %>
<!-- Pagination appears if more than 19 products -->
<%= paginate @products %>
