<div class="container-fluid mt-3">
  <h1>Commandes du groupement (<%= @groupment.groupment.name %>)</h1>
  <div class="d-flex">
    <div class="w-50">
    <% total = 0 %>
      <% @member_gpmt.each do |member| %>
        <% order = Order.where(authentication_id: member.id, date: Date.today.beginning_of_month..Date.today.end_of_month) %>
        <% if order != [] %>
          <div class="m-3 p-4" style="border: 2px solid black;">
            <%= member.authentication.fullname %>
            <% order.each do |o| %>
              <div class="d-flex">
                <div class="w-100">
                  <p>Numero de commande : <%= o.id %></p>
                  <p>Total : <%= render_price_to_euros(o.total) %></p>
                  <% total += o.total %>
                </div> 
                <div class="w-100"> 
                  <div class="pt-4 mt-3 text-right">
                    <%= link_to 'Voir', order_path(o.id), id: 'btns' %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="w-50 m-3" style="border: 2px solid black;">
      <div class="d-flex w-100">
        <div class="w-100 p-4">
          <p>Total : <%= total %> €</p>
          <p>Date de livraison :</p>
          <%= link_to 'Récap commandes', order_groupment_quantity_path, id: 'btns' %>
        </div>
        
        <div class="w-100 p-4">
          <p>Responsable :</p>
          <p>Accompagnateur :</p>
          <%= link_to 'Facture', order_groupment_total_path, id: 'btns' %>
        </div>
      </div>
    </div>
  </div>
</div>