

<section class="gpmt">

  <% if @auth_gpmt.name != "Aucun" %>

    <h1 class="text-center">
      Groupement de <%= @auth_gpmt.name %>
    </h1>

    <div class="block-gpmt">

        <% @member_gpmt.each do |m| %>

          <article class="profil-card">
            <div class="main-image">
              <%= image_tag 'profil-default.png', class: 'profil-img' %>
            </div>

              <div class="image">
                <% if m.authentication.manager? %>
                  <%= image_tag 'crown.png', class: 'rank-img' %>
                <% else %>
                  <%= image_tag 'member.png', class: 'rank-img' %>
                <% end %>
              </div>

            <div class="name">
              <p><%= m.authentication.fullname %></p>
            </div>
          </article>

        <% end %>
    </div>
  <% else %>
    <h1 class="text-center">
      Vous n'avez pas encore de groupement. <br>
      Un administrateur va prochainement vous en attribuer.
    </h1>
  <% end %>
  
</section>
 <% if current_authentication.manager? %>
  <div class="mx-auto">
    <%= link_to 'Manage', manager_groupment_path, id: 'btns' %>
  </div>
<% end %>
