<!DOCTYPE html>
<html>
  <head>
    <title>TuttiGruppi</title>
    <%= render 'shared/rails_defaults' %>
  </head>
  <body>
    <%= render 'shared/navigation' %>

  <main>
    <% if current_page?(manager_groupment_path) || current_page?('/groupment/show') %>
      <div class="container-fluid mt-5">
        <% render 'shared/error_messages' %>
        <%= yield %>
      </div>
    <% else %>
      <div class="container text-center mt-5">
        <% render 'shared/error_messages' %>
        <%= yield %>
      </div>
    <% end %>
  </main>
    <%= render 'shared/footer' %>
  <!-- Button to go back to the top of the page -->
  <a id="buttonToTop"></a>
    <%= render 'shared/scripts' %>
  </body>
</html>

