<!DOCTYPE html>
<html>
  <head>
    <title>TuttiGruppi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="d-flex navbar navbar-expand-lg navbar-light bg-dark">
      <div>
        <a class="navbar-brand-logo" href="/">Tutti Gruppi</a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="flex-row-reverse collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <% if current_authentication %>
          <li class="nav-item active">
            <a href="/orders/new" class="order nav-link">Commander</a>
          </li>
          <li class="nav-item">
            <a href="/orders" class="order nav-link">Liste des commandes</a>
          </li>
          <li class="nav-item">
            <a href="/authentications/show" class="order nav-link">Profil</a>
          </li>
          <% if current_authentication.admin? %>
            <li class="nav-item">
              <%= link_to 'Dashboard', '/admin/dashboard', class: 'order nav-link' %>
            </li>
          <% end %>
          <% if authentication_signed_in? %>
            <li class="nav-item">
              <%= link_to 'Déconnexion', destroy_authentication_session_path, method: :delete, class: 'order nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Groupment', '/groupment/show', class: 'order nav-link' %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'Connexion', new_authentication_session_path, class: 'order nav-link' %>
            </li>
          <% end %>
        <% end %>
          <li class="nav-item">
            <%= mail_to 'merlhiotpaolo@gmail.com', 'contact', class: 'order nav-link'  %>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container text-center">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

    <%= yield %>
  
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
